In [50]:
from tmdbv3api import TMDb
from tmdbv3api import Discover
from tmdbv3api import Movie
import pandas as pd

In [51]:
# Create an instance of the TMDb class and set your API key
tmdb = TMDb()
tmdb.api_key = "48e0bf10bd721602a930738080e4daf4"

discover = Discover()

In [56]:
# Get a list of all movies in the database
movies = discover.discover_movies({"sort_by" : "popularity.desc"})

movie_stats = []

for movie in movies:
    title = movie["original_title"]
    id = movie["id"]
    release_date = movie["release_date"]
    rating = movie["vote_average"]
    genres = movie["genre_ids"]

    movie_stats.append({"Title" : title,
                          "ID" : id,
                        "Release Date" : release_date,
                        "Rating" : rating,
                        "Genres" : genres})

movie = Movie()

for m in movie_stats:
    id = m["ID"]
    stats = movie.details(id)
    m["Budget"] = stats.budget
    m["Revenue"] = stats.revenue

df = pd.DataFrame(movie_stats)

df.head()

,Title,ID,Release Date,Rating,Genres,Budget,Revenue
0,Creed III,677179,2023-03-01,7.3,"[18, 28]",75000000,258000000
1,Avatar: The Way of Water,76600,2022-12-14,7.7,"[878, 12, 28]",350000000,2312335665
2,The Super Mario Bros. Movie,502356,2023-04-05,7.6,"[16, 12, 10751, 14, 35]",100000000,58000000
3,Momias,816904,2023-01-05,7.0,"[16, 35, 10751, 12, 14]",12300000,34200000
4,John Wick: Chapter 4,603692,2023-03-22,8.0,"[28, 53, 80]",90000000,244878306

In [ ]:
df.to_csv('cleaned-movie-dataset.csv')